# Python önbellek dosyaları
__pycache__/
*.pyc

# Sanal ortam (Bağımlılıklar repoya yüklenmez)
venv/

# Ham ve işlenmiş veri dosyaları (Veri setleri repoda tutulmaz)
ham_veriler/
*.xlsx

# Hata logları ve ekran görüntüleri
*.png

# macOS sistem dosyaları
.DS_Store